
@{ ViewData["Title"] = "Index"; }
<center>
    <h1>About Me</h1>
    <p>
        Student name: Frank Ngumanenimana <br><br />

        Student number: 040955603<br><br />

        Student email: Ngum0004@algonquinlive.com<br><br />
    </p>
    </br>
    <h2>Description</h2>
    <p>
        Computer engineering major student attending Algonquin College.<br><br /> I love challenges and to be pushed out of my comfort zone, either at school, working or even doing sports.<br><br />
        Always ready to learn and optimist! :)
    </p>

</center>

