@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is Assignment 2</h1>

    <h2>Created by: </h2>
    <p>Duc Anh, Ngo. Student ID: 040943725</p>
    <p>Frank Ngumanenimana. Student ID: 040955603</p>

    <p >Great Assignment. Thank you professor Amir </p>
    
</div>
